img {
  width: 100%;
  height: auto;
  max-height: 971px; /* Optional: limits height without forcing it */
  object-fit: cover; /* Keeps image nicely cropped if needed */
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 1921px;
  height: auto;
}
.navbar-brand{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100%;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
   color: aliceblue;
    font-weight: 700;
}


.text1-overlay {
    
  position: absolute;
  top: 15%;
  left: 1%;
  right: 60%;
  bottom: 8%;
  font-weight: 300;
  padding: 79px;
  border-radius: 10px;
  font-size: 4.7em;
}
.text2-overlay {
  position: absolute;
  top: 55%;
  left: 1%;
  right: 2%;
  bottom: 8%;
  
  color:#f8f9fa;
  padding: 79px;
  border-radius: 10px;
  font-size: 1.5em;
}

.text1-overlay {
  color:rgb(248, 243, 243);
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:20%;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.container-fluid{
    background-color: white;
}
.btn btn-outline-success:hover{
  color: black;
}
.btn-outline-success{
  background-color: white;
}
.btn-outline-success:hover {
  background-color: rgb(159, 158, 177);
  color: white;
  border-color: white;
}

.nav-item:hover{
  color: rgb(188, 15, 204);
  text-decoration: underline;
}
html {
  scroll-behavior: smooth;
}








